/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/_css/fonts/X_EdMnknKUltk57alVVbVxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/_css/fonts/nBF2d6Y3AbOwfkBM-9HcWBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/_css/fonts/WtcvfJHWXKxx4x0kuS1koRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/_css/fonts/_aijTyevf54tkVDLy-dlnFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/_css/fonts/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/_css/fonts/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/_css/fonts/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/_css/fonts/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/_css/fonts/MLKvhAbswThSVACnSTWCpxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
 cyrillic 
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/_css/fonts/IiMFELcoPB-OzGzq14k4ehJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
  latin-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/_css/fonts/gMhvhm-nVj1086DvGgmzBxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
 latin 
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(/_css/fonts/OsJ2DjdpjqFRVUSto6IffFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/_css/fonts/oxrPYIm05JrY_0rFIEQ_oRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/_css/fonts/4z2U46_RRLOfkoHsWJG3vxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/_css/fonts/nsLtvfQoT-rVwGTHHnkeJhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/_css/fonts/0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(/_css/fonts/DZ_YjBPqZ88vcZCcIXm6VjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
 cyrillic 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(/_css/fonts/DZ_YjBPqZ88vcZCcIXm6VjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 latin-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(/_css/fonts/DZ_YjBPqZ88vcZCcIXm6ViYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
 latin 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(/_css/fonts/DZ_YjBPqZ88vcZCcIXm6Vo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 cyrillic-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/_css/fonts/w3OQMu9Ox3bN1d9i3mbh2xTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
 cyrillic 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/_css/fonts/LYvzNpa5ecqVXi8cf4pj-hTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 latin-ext 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/_css/fonts/IZYv9ktJI5s8uIr0hWnbSBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
 latin 
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/_css/fonts/WB6rgjTg_oRfj6mlXZJbb_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/


html,body{padding:0;margin:0;}

body{
	position:relative;
	background:url('/img/linen_blue.png') left top repeat rgb(63,63,71) ;
}

div#cover{
	content:'';
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	z-index:29;
	display:none;
}	

.main_content{
	
	position:relative;
	max-width:1200px;
	min-width:1000px;
	margin:0 auto;
	background-color: #f7f7f7;
	min-height:500px;
	box-shadow:0px 0px 8px 1px rgb(0,0,0);
    -moz-box-shadow:0px 0px 8px 1px rgb(0,0,0);
    -webkit-box-shadow:0px 0px 8px 1px rgb(0,0,0);
	padding-top:65px;
	background-clip:padding-box;
	border-bottom:1px solid rgba(255,255,255,.0);
}


.center-container{
position:relative;
width:90%;
margin:0 auto;
padding:0;
}

.clearfix{
display:block;
clear:both;
margin:0;
padding:0;
}


header{
margin:0;
padding:0;
position:absolute;
left:0px;
top:0;
background-color:#FFF;
width:100%;
min-width:1000px;
box-shadow: 2px 1px 5px rgba(0,0,0,0.70);
-moz-box-shadow: 2px 1px 5px rgba(0,0,0,0.70);
-webkit-box-shadow: 2px 1px 5px rgba(0,0,0,0.70);
z-index:30;
font-size:0;
}

header figure.logo{
float:left;
width:50px;
height:50px;
margin-top:9px;
margin-left:3%;
margin-right:2%;
cursor:pointer;

}

header figure.logo img{
	
	width:50px;
	height:50px;
	margin:0;
	
}

header span.logoname{
float:left;
display:inline-block;
position:relative;
margin-top:21px;
margin-left:0px;
font-size:21px;
line-height:25px;
font-family:'Ubuntu',NotoSans,sans-serif;
letter-spacing:1px;
color:rgb(30,30,40);
text-transform:uppercase;
font-weight:bold;
}


header span.logoname em{
	position:absolute;
	color:rgb(255,81,0);
    text-transform:none;
	font-size:12px;
	bottom:-12px;
	right:0;
	font-style:regular;
}


header .header-content{
position:relative;
max-width:1200px;
min-width:1000px;
margin:0 auto;
padding:0;
height:68px;
}

header .header-content .log_info{

  float:right;
  position:relative;
  width:24%;
  margin-top:17px;
  margin-right:1%;
  font-size:14px;
  line-height:16px; 
  font-family:'Ubuntu',NotoSans,sans-serif;
  color:rgb(30,30,40);
}

header .header-content .log_info span{
	display:inline-block;
	width:85%;
	line-height:16px; 
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
}
header .header-content .log_info span.light{ 	color:rgb(170,170,170);  }

header .header-content .log_info img#log_out{

  position:absolute;
  width:30px;
  right:5px;
  top:2px;
  cursor:pointer;  
}


header .header-content .search_tab{

  float:right;
  position:relative;
  width:24%;
  margin-top:19px;
  margin-right:1%;
  padding-left:0px;
  font-size:14px;
  font-family:'Ubuntu',NotoSans,sans-serif;
  color:rgb(30,30,40);
}

header .header-content .search_tab form#top_search{ margin:0;padding:0; }


header .header-content .search_tab form#top_search input{
	
	box-sizing:border-box;
    width:80%;
	font-family:'Ubuntu',NotoSans,sans-serif;
	font-size:15px;
	color:rgb(37,37,37);
	font-weight:semi-bold;
    height:33px;	
	margin:0px;
	border:1px solid rgb(190,190,190);
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	padding-left:12px;
	padding-right:12px;
	float:left;	
	
	
}	


header .header-content .search_tab form#top_search button{
	
	box-sizing:border-box;
    width:20%;
	height:33px;	
	margin:0px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
    border:1px solid rgb(59,59,79);
	float:left;
 	background:url('/img/search_but.png') no-repeat center center rgb(59,59,79);
    background-size:  20px 20px;
	
}	

header .header-content .profile_info{

  float:right;
  position:relative;
  width:17%;
  margin-top:17px;
  margin-right:0px;
  padding-left:43px;
  box-sizing:content-box;
  font-size:14px;
  line-height:16px; 
  font-family:'Ubuntu',NotoSans,sans-serif;
  color:rgb(30,30,40);
}

header .header-content .profile_info span{
	display:inline-block;
	width:100%;
	line-height:16px; 
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
}
header .header-content .profile_info span.light{ 	color:rgb(170,170,170);  }

header .header-content .profile_info img#avatar{

  position:absolute;
  width:35px;
  height:35px;
  left:0px;
  top:0px;
  cursor:pointer;  
}


header .header-content div#login_but{
	
	box-sizing:border-box;
    width:16%;
	float:right;
	border:3px solid rgb(139,139,159);
	border-radius:35px;
	line-height:30px;
	color:rgb(139,139,159);
	font-size:14px;
	text-align:center;
	margin-top:17px;
	margin-right:3%;
    margin-left:10%;
	cursor:pointer;
	text-transform:uppercase;
    font-family:'Ubuntu',NotoSans,sans-serif;
}


header .login_space{
	
  position:relative;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0;
  height:0px;
  overflow:hidden;
  font-size:14px;
}

header .login_space form#loginform{
	position:relative;
	float:right;
	margin-right:2%;
	width:23%;
	margin-top:20px;	
}
header .login_space form#loginform img{
	
	display:block;
	margin:0;
	width:30px;
	position:absolute;
	top:70px;
	right:45%;
	display:none;
}

header .login_space form#loginform input{
	
    box-sizing:border-box;
    width:100%;
	font-family:'Ubuntu',NotoSans,sans-serif;
	font-size:15px;
	color:rgb(37,37,37);
	font-weight:semi-bold;
    height:36px;	
	margin:7px 0px;
	border:1px solid rgb(190,190,190);
	border-radius:2px;
	padding-left:12px;
	padding-right:12px;
	float:right;	
}

header .login_space form#loginform button{
    box-sizing:border-box;
    width:100%;
    font-family:'Ubuntu',NotoSans,sans-serif;
	font-size:15px;
	background-color:#FFF;
	font-weight:semi-bold;
    height:36px;	
	margin:0;
	color:rgb(255,81,0);
	border:2px solid rgb(255,81,0);
	border-radius:18px;
	padding-left:12px;
	padding-right:12px;
	margin-top:20px;
	text-transform:uppercase;
	margin-bottom:20px;
	cursor:pointer;
}


header .login_space form#loginform  input.error{
	 
   background-image: url('/img/warning.png'); 
   background-size:20px 20px;
   background-position:94% 7px;
   background-repeat:no-repeat;
	 
 }
 
 
header .login_space form#loginform  label.error{ position:absolute; font-size:0; }
 
 header .login_space div.form_links{
	position:relative;
	float:right;
	margin-right:2%;
	width:27%;
	margin-top:20px;
    font-size:0px;
	
}

  header .login_space div.form_links a{
	  
	  display:inline-block;
	  width:49%;
	  font-family:'Ubuntu',NotoSans,sans-serif;
	  font-size:16px;
	  line-height:30px;
	  text-decoration:none;
	  color:rgb(139,139,159);

  }
    header .login_space div.form_links a:hover{ text-decoration:underline; }
		
		
    header .login_space div.form_links .form_desc{
	
      margin-top:20px;
      margin-right:20px;	  
	  font-family:'Ubuntu',NotoSans,sans-serif;
	  font-size:14px;
	  line-height:20px;
	  color:rgb(139,139,159);
		
		
		
	}
	    header .login_space div.form_links .form_desc span{ display:none; }





.main_content ul.crumbls{

	list-style-type:none;
	padding:0;
	font-size:0;
	margin:10px 15px 10px 15px;
	padding-top:5px;
	font-family: 'Ubuntu',NotoSans,sans-serif;
	margin-top:0;
}
.main_content ul.crumbls li{
   display:inline-block;
   margin-left:0px;
   padding-left:20px;
   padding-right:5px;
   font-size:13px;
   color:rgb(187,187,197);
   background: url(../img/marker.gif) no-repeat 4px 4px;
  
}
.main_content ul.crumbls li:first-of-type{
   background:none;
   padding-left:10px;	
}

.main_content ul.crumbls li a{
	text-decoration:none;
	color:rgb(187,187,197);
}
.main_content ul.crumbls li a:hover{
	text-decoration:underline;
}
		
		
		
		
footer{

min-width:1000px;
padding-bottom:30px;
margin-top:30px;
color:#ffffff;
font-size:13px;
font-family:Calibri,sans-serif;

}
	
footer img#scroll_top{ 

    opacity:0.5;	
    position:fixed;
    bottom:10px;
    left:50%;
    cursor:pointer;
	display:none;
}

footer .sitemap{

  box-sizing:border-box;	
  max-width:1200px;
  min-width:1000px;
  padding:10px 0px;
  margin:0 auto; 
  padding-top:20px;

 }

footer .devider{
height:0;
width:980px;
margin:20px auto;
border-top:1px solid rgb(43,43,51);
border-bottom:1px solid rgb(83,83,91);
clear:both;
}

footer .copyright{
width:980px;
margin:0 auto;
}

footer #vk_groups{
	

	min-width:400px;
	float:left;
	margin:10px auto;
	margin-right:20px;
	margin-left:10px;
} 


footer .maplinks{
width:25%;	
min-width:260px;
height:200px;
float:left;
font-size:12px;
line-height:2.5em;
font-family:'Ubuntu',NotoSans,sans-serif;
margin:0 auto;
margin-top:-10px;
margin-left:2%;
padding-top:15px;

}
footer .maplinks a{
color:#FFF;
text-decoration:none;
border-bottom:1px dashed #FFF;
margin-right:10px;
margin-left:10px;
padding-bottom:2px;
}
footer .maplinks .jet{
display:inline-block;
padding-left:10px;
margin-top:15px;
line-height:2em;
}
footer .maplinks .left{margin-top:0px;line-height:2em;}


